*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* kena kaji pasal vh dan cara guna google font */
body{
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-color: #f9f9f9;
}

header{
    padding: 16px 0;
}

header .container{
    background-color: #2A2C2E;
    height: 96px;
    width: 1200px;
    margin: 0 auto;
    border-radius: 20px;

    /* ingat zahin kata pastikan ada 4 dalam flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;


}
/* nie untuk bagi tulisan dalam container suma putih */
header .container div{
    color: white;
}

header .container .left img{
    width: 166px ;
    height: auto;
}

header .container .middle ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 32px;
    list-style: none;
    color: #ffffff60;

}

header .container .middle ul li.active{
    color: #F4CE47;

}

header .container .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



header .container .right button{
    margin: auto 32px;
    width: 106px;
    height: 56px;
    border-radius: 16px;
    background-color: #F4CE47;
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
   
}

nav {
    background-color: #F4CE47;
    color: #F4BA30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 16px;

}
nav > h2{
    font-size: 48px;
    font-weight: 400;
}

nav h2.active{
color: #2A2C2E;
}

main{
    background-color:#2A2C2E ;
}

main .container{
    width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    /* ni tambahan ciri flex */
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0;

}
 
main .container .card{
    height: 500px;
    width: 300px;
    border-radius: 20px;
    background-color: white;
    padding: 16px;

}
 
main .container .card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius: 16px;
}

/* ni asal gambar komen tuh besar tau , pastu pi chat gpt dia kasi line ni so solve the problem nya */
main .container .card .comment img {
    width: 170px;  /* Adjust the width to your preference */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}

main .container .card .content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;

}

main .container .card .content .name p:first-child{
    font-size: 14px;
    color: #00000060; 
}

main .container .card .content .price span:first-child{
    color: #00000038;
    text-decoration: line-through ; 
}

footer .container .up {

    background-color: #2A2C2E;
    height: 96px;
    width: 1200px;
    padding: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

footer .container .down {

    background-color: #2A2C2E;
    color: white;
    height: 40px;
    width: 1200px;
    padding: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

}

footer .container .down .left{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

footer .container .down .right{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

footer{

    padding: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}






